/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

figure > img {
    display: block;
}

/* palette colori */

:root {
    --dark: #000000;
    --dark-blue: #141922;
    --light-gray: #C1C1C1;
    --gray: #66686E;
    --dark-gray: #282828;
    --light: white;
    --green: #ADFF2F;

    --sidebar-width: 230px;
}

/* utility classes */

.grow-1 {
    flex-grow: 1;
}

.dark-blue-bg {
    background-color: var(--dark-blue);
}

.p-relative {
    position: relative;
}

/* layouts */

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    /* position: relative; */
}

#app,
.app-container,
.sidebar,
.main-container,
.player {
    overflow: hidden;
}

.app-container {
    flex-grow: 1;
    display: flex;
}

.player {
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > [class^="col"] {
    padding-left: 10px;
}

.col-4 {
    width: 100%;
}
    
.col-6 {
    width: calc((100% / 12) * 6);
}
    
.col-8 {
    width: 100%;
}
    
.col-12 {
    width: 100%;
}

/* timeline layout*/

.timeline {
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 999px;
    position: relative;
}

.timeline-progress {
    height: 6px;
    border-radius: 999px;
    width: 25%;
    background-color: rgb(255, 255, 255);
}


/* player toolbar */

.player.toolbar {
    background-color: var(--dark-gray);
    padding: 10px;
    color: var(--light);
    max-height: 90px;
}

.player .tool-content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.track-name, 
.track-artist, 
.track-icons {
    color: var(--light-gray);
}

.tool-content.track-descr {
    flex-basis: var(--sidebar-width);
}

.track-descr .track-fig {
    width: 40px;
    margin-right: 10px;
}

.track-descr .track-text {
    margin-right: 30px;
    font-size: 10px;
}

.track-text .album {
    font-weight: bold;
    font-size: 15px;
}
.player .time-setting {
    flex-direction: column;
    width: 50%
}

.time-setting .time-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.track-like:hover {
    color: var(--light);
}

.track-save:hover {
    color: var(--light);
}

.time-icons li {
    font-size: 30px;
}

.time-icons .icon-lg {
    margin: 0 15px;
    font-size: 30px;
}

.icon-lg:hover {
    font-size: 35px;
}

.timebar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.progress-handler {
	width: 16px;
	height: 16px;
	background-color: white;
	border-radius: 999px;
	position: absolute;
	left: 25%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

 .timeline:hover .progress-handler {
	display: block;
}

 .timeline:hover .timeline-progress {
	background-color: var(--green);
}

.tool-content.audio-video-setting {
    width: var(--sidebar-width);
}

.audio-video-setting .audio-video-content {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}

/* sidebar */

.sidebar {
    background-color: var(--dark);
    color: var(--gray);
    padding: 5px 13px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.side-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side-logo .logo-sm {
    width: 30px;
    padding-bottom: 10px;
}

.side-logo .logo {
    max-width: 135px;
    display: none;

}

.side-main-tools {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.side-main-tools .main-tool {
    display: flex;
}

.main-tool > i {
    font-size: 25px;
}

.main-tool div {
    display: none;
}

.main-tool.home {
    color: var(--light-gray);
}

.home div {
    color: var(--light);
}

.side-playlists {
    padding-left: 20px;
}

.side-playlists .playlist-title{
    color: var(--light);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.new-playlists .create-playlist {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.side-footer > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.side-footer a {
    display: none;
}

.side-footer {
    margin-bottom: 10px;
    color: var(--gray);
}

.install img {
    width: 20px;
    display: block;
}

.username img {
    width: 25px;
    background-color: #282828;
    border-radius: 999px;
    display: block;
}

.side-footer hr {
    display: none;
}

.install:hover a {
    color: var(--light);
}

.main-tool:hover div {
    color: var(--light);
}

.main-tool:hover i {
    color: var(--light-gray);
}
/* main body */

.main-body {
    padding-top: 90px;
    overflow: auto;
}

/* main banner */

.banner {
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 100%;
    padding: 18px 5px 25px 5px;
    color: var(--light);
    text-align: center;
    align-items: center;
    max-height: 90px;
}

.banner .banner-cta {
    border: 3px solid;
    padding: 10px 37px;
    border-radius: 999px;
    text-transform: uppercase;
}

.banner-cta:hover {
    padding: 13px 40px;
    font-size: 18px;
}

/* main menu */

.main-menu {
    width: 100%;
    padding: 20px 30px;
    color: var(--gray);
    text-transform: uppercase;
    font-weight: bold;
}

.main-menu .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-items li {
    padding: 0 10px;
}


.menu-items .menu-item.active:before {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 30px;
    background-color: var(--green);
    bottom: -5px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-items a:hover {
    color: var(--light);
}

/* main playlist */

.main-playlist-container {
    padding: 0 30px 0 20px;
}

.main-playlists {
    row-gap: 10px;
}

.main-playlist-header {
    margin-bottom: 30px;
    color: var(--light);
}

.playlist-card .card-img {
    margin-bottom: 20px;
    position: relative;
}

.playlist-card .card-text {
    text-align: center;
}

.card-text .card-title {
    color: var(--light);
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text .card-descr {
    color: var(--gray);
}

.card-img .hover-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 7em;
    color: var(--light);
    display: none;
}

.playlist-card .card-img:hover .hover-play {
    display: block;
}










/* media query bootstrap */

@media (min-width: 639px) {

}


@media (min-width: 768px) {

    /* layouts */

    .sidebar {
        width: var(--sidebar-width);
        flex-shrink: 0;
    }

    /* player */

    .time-setting .timebar {
        gap: 24px;
    }

    .track-name,
    .track-artist,
    .track-icons > * {
        display: inline-block;
    }

    .track-icons > * {
        margin-right: 10px;
    }

    .track-descr .track-fig {
        width: 60px;
        margin-right: 15px;
    }

    

    /* sidebar */

    .side-logo {
        padding: 20px 0 30px 20px;
    }

    .side-logo .logo {
        display: block; 
        
    }

    .side-logo .logo-sm {
        display: none;
    }

    .side-main-tools {
        padding-left: 20px;
}
    .main-tool div {
        display: inline-block;
        /* margin-left: 8px; */
    }

    .main-tool.home div {
        margin-left: 8px;
    }

    .main-tool.search  div{
        margin-left: 8px;
    }

    .main-tool.library  div{
        margin-left: 15px;
    }

    .new-playlists {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .create-playlist .playlist-plus-icon {
        width: 40px;
        background-color: var(--gray);
        color: var(--dark);
        font-size: 25px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-footer a {
        display: block;
    }

    .side-footer {
        align-items: flex-start;
        padding: 0 20px;
    }

    .side-footer hr {
        width: 100%;
        display: block;
    }

    .username a {
        font-size: 20px;
        font-weight: bold;
        color: var(--light);
    }

    .create-playlist:hover i {
        color: var(--dark);
        background-color: var(--light-gray);
    
    }



    
}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {
    .row > [class^="col"] {
        padding-left: 15px;
    }

}

/* debug */

/* .debug#app {
    border: 1px solid blue;
    padding: 20px;
} */

/* .debug .app-container {
    border: 1px solid orange;
    padding: 30px;
} */

/* .debug .player {
    border: 1px solid red;
    padding: 30px;
} */

/* .debug .main-container {
    border: 1px solid blue;
    padding: 30px;
} */

/* .debug .sidebar {
    border: 1px solid blue;
    padding: 30px;
} */