/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

figure > img {
    display: block;
}

/* palette colori */

:root {
    --dark: #000000;
    --dark-blue: #141922;
    --light-gray: #C1C1C1;
    --gray: #66686E;
    --dark-gray: #282828;
    --light: white;
}

/* utility classes */



/* layouts */

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    /* position: relative; */
}

.app-container {
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.player {
    height: auto;
    flex-shrink: 0;
    display: flex;
    /* position: fixed; */
}

.main-container {
    flex-grow: 1;
}

/* player toolbar */

.player.toolbar {
    background-color: var(--dark-gray);
    padding: 10px;
    color: var(--light);
}

.player.toolbar .tool-content {
    display: flex;
    align-items: center;
}

.track-name .track-fig {
    width: 40px;
    margin-right: 10px;
}

.track-name .track-text {
    margin-right: 30px;
    font-size: 10px;
}

.track-text .song-title {
    font-weight: bold;
    font-size: 15px;
}


/* media query bootstrap */

@media (min-width: 639px) {

    /* layouts */

    .sidebar {
        width: 230px;
        flex-shrink: 0;
    
    }

}


@media (min-width: 768px) {
    
}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}

/* debug */

.debug#app {
    border: 1px solid blue;
    padding: 20px;
}

.debug .app-container {
    border: 1px solid orange;
    padding: 30px;
}

/* .debug .player {
    border: 1px solid red;
    padding: 30px;
} */

.debug .main-container {
    border: 1px solid blue;
    padding: 30px;
}

.debug .sidebar {
    border: 1px solid blue;
    padding: 30px;
}